.card {
  border: 1px solid #666;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 16px auto;
  padding: 16px;
  position: relative;
  width: 400px;

}

.cardHeader {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.cardImage {
  width: 368px;
  position: absolute;
  z-index: -1;
}

.cardTitle {
  background-color: rgba(200, 200, 200, .8);
  color: #666;
  padding: 10px 20px;
  text-align: center;
}

.cardRadio {
  display: block;
}
