.card {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 0 5px rgba(255,255,255,1), 1px 2px 5px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: calc(100% - 32px);
  margin: 16px;
  position: relative;
}

.cardHeader {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.cardContent {
  border-radius: 0 0 4px 4px;
  height: calc(50% - 8px);
  overflow: hidden;
  padding: 4px 16px;
}

.cardImage {
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

.cardTitle {
  background-color:white;
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
  padding: 5px 20px;
  text-align: center;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}

.cardChoice {
  display: block;
  font-size: 20px;
  line-height: 28px;
}
.cardContent {
  background-color:WhiteSmoke;
  background-image:
  radial-gradient(circle at 100% 150%, WhiteSmoke 24%, white 24%, white 28%, WhiteSmoke 28%, WhiteSmoke 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, WhiteSmoke 24%, white 24%, white 28%, WhiteSmoke 28%, WhiteSmoke 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, WhiteSmoke 10%, WhiteSmoke 23%, white 23%, white 30%, WhiteSmoke 30%, WhiteSmoke 43%, white 43%, white 50%, WhiteSmoke 50%, WhiteSmoke 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, WhiteSmoke 5%, WhiteSmoke 15%, white 15%, white 20%, WhiteSmoke 20%, WhiteSmoke 29%, white 29%, white 34%, WhiteSmoke 34%, WhiteSmoke 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, WhiteSmoke 5%, WhiteSmoke 15%, white 15%, white 20%, WhiteSmoke 20%, WhiteSmoke 29%, white 29%, white 34%, WhiteSmoke 34%, WhiteSmoke 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 50px 25px;
}