.card {
  border: 1px solid red;
  border-radius: 6px;
  box-sizing: border-box;
  height: calc(100% - 28px);
  margin: 16px auto;
  padding: 16px;
  position: relative;
  width: 100%;
}

.cardHeader {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.cardImage {
  left: 5%;
  position: absolute;
  width: 90%;
  z-index: -1;
}

.cardTitle {
  background-color: rgba(200, 200, 200, .8);
  color: #666;
  padding: 10px 20px;
  text-align: center;
}

.cardRadio {
  display: block;
}
