h1, h2, h3, h4, h5, h6 {
  font-family:'Quantico', sans-serif;
}
@supports (-webkit-overflow-scrolling:touch) {
  /* CSS specific to iOS devices */ 
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    font-family:'helvetica', sans-serif;
  }
}
p { margin-bottom:8px; }
.glbFullAbsolute,
.glbFullFixed { top:0; bottom:0; right:0; left:0 }
.glbFullAbsolute { position:absolute }
.glbFullFixed { position:fixed }
.glbBtn {
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1; border-radius:4px; box-shadow:0px 10px 14px -7px #276873; cursor:pointer; color:#ffffff; display:block;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  font-size:20px; font-weight:bold; margin:0 auto 16px; padding:10px 40px; text-align:center; text-transform:uppercase; text-decoration:none; text-shadow:0px 1px 0px #154682;}
.glbBtn:hover { background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0); background-color:#0061a7; }
.glbBtn:active { position:relative; top:1px; }
.glbBtn.disabled,
.glbBtn:disabled,
.glbBtn[disabled] { background:linear-gradient(to bottom, #9db4c0 5%, #8b9ba7 100%); background-color:#9db4c0; cursor:initial; }

.glbLabel { text-align:center; }
.glbSlct { -moz-appearance:none; -webkit-appearance:none; appearance:none; border:1px solid #aaa; box-sizing:border-box; box-shadow:0 1px 0 1px rgba(0,0,0,.04); border-radius:4px;
  background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat:no-repeat, repeat; background-position:right .7em top 50%, 0 0; background-size:.65em auto, 100%; background-color:#fff;
  color:#444; display:inline-block; font-size:16px; font-weight:700; line-height:1.3; margin:0 0 15px; max-width:100%; padding:8px 24px }
.glbSlct::-ms-expand { display:none }
.glbSlct:hover { border-color:#888 }
.glbSlct:focus { border-color:#aaa; box-shadow:0 0 1px 3px rgba(59, 153, 252, .7); box-shadow:0 0 0 3px -moz-mac-focusring; color:#222; outline:none }
.glbSlct option { font-weight:normal }
/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .glbSlct, :root:lang(ar) .glbSlct, :root:lang(iw) .glbSlct { background-position:left .7em top 50%, 0 0; padding:.6em .8em .5em 1.4em }
.glbSlct:disabled, .glbSlct[aria-disabled=true] { color:gray;
  background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%) }
.glbSlct:disabled:hover, .glbSlct[aria-disabled=true] { border-color:#aaa }
.glbSlct.inlineRight { border-radius: 4px 0 0 4px }
.glbLabelText { display:inline-block; font-size:18px; padding: 10px 40px 10px 0 }
.glbSlctToggle { background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); border-radius:0 4px 4px 0; border:1px solid #aaa; border-left:none; box-sizing:border-box; box-shadow:0 1px 0 1px rgba(0,0,0,.04); cursor:pointer; background-color:#fff; color:#444; display:inline-block; font-weight:bold; margin:0 auto 16px; padding:10px 40px; text-align:center; font-size:22px; font-weight:700; line-height:1; margin:0 0 15px; max-width:100%; padding:5px 24px 9px; text-decoration:none; }
/* TODO Active state for above */ 
