.fullDeckHeader,
.fullDeckMain { display:flex; flex-wrap:wrap; justify-content: space-around }
.fullDeckHeader { padding: 30px 0 }
.deckSortOuter .glbBtn { display:inline-block }
.fullDeckMain { display:flex; flex-wrap:wrap; justify-content: space-around }
.cardWrapper { float:left; height:450px; margin:40px; min-width:300px }
.deckSortOuter,
.deckFilterOuter { padding:10px; }


@media only screen and (min-width: 767px) {
  .fullDeckHeader { padding: 30px 0 }
}
