.previewCard {
  border: 1px solid #666;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-block;
  font-size:10px;
  line-height: 12px;
  margin: 4px auto;
  overflow: hidden;
  padding: 4px;
  position: relative;
  text-overflow: ellipsis;
  width: 100px;
}